@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200;
} */

/* section {
    @apply dark:bg-gray-700
} */


body {
  overscroll-behavior-x: contain; /* stop “rubber-band” on the X-axis            */
  overscroll-behavior-y: contain; 
  /* touch-action: pan-y;            only allow vertical panning / pinch-zoom   */
  overflow-x: hidden;             /* never let the page scroll horizontally     */
  overflow-y: hidden; 
}